@model Recomida.WebApp.Models.Context.Valoracion

@{
    ViewBag.Title = "Details";
}

<div>
    <div class="row">

        <div class="col-md-6 col-md-offset-3">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Detalles Tipo de Restaurante</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Puntuaje)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Puntuaje)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Fecha)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Fecha)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Restaurantes.Nombre)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Restaurantes.Nombre)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.UserProfile.Username)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.UserProfile.Username)
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ValoracionID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
