@model IEnumerable<Recomida.WebApp.Models.Context.Valoracion>

@{
    ViewBag.Title = "Index";
}
<section class="content-header">
    <h2>Valoracion<a class="btn bg-olive" href="/Valoracions/Create">Valorar un Restaurante</a></h2>
</section>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="box box-primary">
            <div class="box-header with-border">
            </div>
            <div class="box-body">
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Puntuaje)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Fecha)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Restaurantes.Nombre)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UserProfile.Username)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Puntuaje)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Fecha)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Restaurantes.Nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserProfile.Username)
                            </td>
                            <td>
                                @Html.ActionLink("|", "Edit", new { id = item.ValoracionID }, new { @class = "fa fa-pencil" }) 
                                @Html.ActionLink("|", "Details", new { id = item.ValoracionID }, new { @class = "fa fa-info" }) 
                                @Html.ActionLink(".", "Delete", new { id = item.ValoracionID }, new { @class = "fa fa-trash" })
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>