@model Recomida.WebApp.Models.Context.Restaurantes

@{
    ViewBag.Title = "Detalles";
}
<style>
    #map {
        height: 250px;
        width: 100%;
    }
</style>

<div>
    <div class="row">

        <div class="col-md-6 col-md-offset-3">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Detalles Restaurante</h3>
                </div>
                <!-- /.box-header -->
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Nombre)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Telefono)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Telefono)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.TipoComida.Descripcion)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TipoComida.Descripcion)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.TipoRestaurante.Descripcion)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TipoRestaurante.Descripcion)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Ubicacion.Pais)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Ubicacion.Pais)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Ubicacion.Ciudad)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Ubicacion.Ciudad)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Ubicacion.Direccion)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Ubicacion.Direccion)
                    </dd>

                    <dt>
                        Ubicacion
                    </dt>

                    <dd>
                        <div id="map"></div>
                    </dd>
                </dl>
            </div>
            </div></div></div>
            <p>
                @Html.ActionLink("Editar", "Edit", new { id = Model.RestauranteID }) |
                @Html.ActionLink("Volver a la lista", "Index")
            </p>
            
            <script async defer
                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLov3DZ5oTZUglO6OQ_-pDvIMZ_FsIJ_8&callback=initMap">
            </script>
            <script>
                var Values = { Log: parseFloat('@Model.Ubicacion.Longitud'), Lat: parseFloat('@Model.Ubicacion.Latitud') }
                function initMap() {
                    //var uluru = { lat: 18.450931761859625, lng: -69.92768883705139 };
                    var uluru = { lat: Values.Lat, lng: Values.Log };
                    var map = new google.maps.Map(document.getElementById('map'), {
                        zoom: 18,
                        center: uluru
                    });
                    var marker = new google.maps.Marker({
                        draggable: false,
                        position: uluru,
                        map: map
                    });
                    google.maps.event.addListener(marker, 'click', function (event) {
                        console.log(this.getPosition().lat());
                        console.log(this.getPosition().lng());
                        document.getElementById("Latitud").value = this.getPosition().lat();
                        document.getElementById("Longitud").value = this.getPosition().lng();
                    });
                    google.maps.event.addListener(marker, 'dragend', function (event) {
                        console.log(this.getPosition().lat());
                        document.getElementById("Latitud").value = this.getPosition().lat();
                        console.log(this.getPosition().lng());
                        document.getElementById("Longitud").value = this.getPosition().lng();
                    });
                }
            </script>
